public/* linguist-vendored=true
themes/* linguist-vendored=true
lib/rubyongo/panel/public/* linguist-vendored=true
lib/rubyongo/panel/public/kit/js/panel.js linguist-vendored=false
lib/rubyongo/panel/public/kit/css/panel.css linguist-vendored=false
themes/default/static/js/scripts.js linguist-vendored=false
themes/default/static/css/style.css linguist-vendored=false
themes/default/static/css/default.css linguist-vendored=false
themes/default/static/css/component.css linguist-vendored=false
themes/default/layouts/* linguist-vendored=false
