development: &common_settings
  app_name: rubyongo
  host: rubyongo.org
  usr: rubyongo
  pas: shop1111
  sendform_to_business: rubyongo@gmail.com
  sendform_subject: Order
  sendform_from: rubyongo@gmail.com
  thumbnail_resize: '250x250!'

test:
  <<: *common_settings

production:
  <<: *common_settings
