            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-menu">
                    <a class="site-title" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                    <a class="button-square button-jump-top js-jump-top" href="#">
                        <i class="fa fa-angle-up"></i>
                    </a>
                    <a class="button-square button-editor" href="/panel">
                        <i class="fa fa-eye"></i>
                    </a>
                    {{ with .Site.Params.twitter}}
                        <a class="button-square button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.github }}
                        <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="{{ . }}">
                            <i class="fa fa-github-alt"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.stackoverflow }}
                        <a class="button-square button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.linkedin }}
                        <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.gplus }}
                        <a class="button-square button-social hint--top" data-hint="Google+" title="Google+" href="{{ . }}">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    {{ end }}


                </div>

                <p class="footer-copyright">
                    <span>&copy; {{ .Site.LastChange.Format "Jan _2 2006" }} / Powered by <a href="http://rubyongo.org/">RUBYONGO</a></span>
                </p>
            </div>
        </footer>

        {{ partial "scripts.html" . }}
        <!--<script src="{{ .Site.BaseURL }}js/scripts.js"></script>-->
    </body>
</html>