<li class="post-stub simpleCart_shelfItem">
    <a href="{{ .Permalink }}" title="Go to detail">
        <h4 class="post-stub-title item_name">{{ .Title }}</h4>
	    {{ if .Params.price }}
	        <p class="post-description item_price">{{ .Params.price }}</p>
	    {{ end }}
        {{ with .Params.featured }}
            <span class="post-stub-tag">Featured</span>
        {{ end }}
    </a>
    <a class="simpleCart_item_add item_add" href="javascript:;"><i class="fa fa-shopping-cart"></i> Add to My Cart </a>
</li>