<div class="simpleCart_toggle">
    <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
    <a href="" class="simpleCart_toggle_button show"><i class="fa fa-shopping-cart"></i> My Cart</a>
</div>
<div class="simpleCart_dialog overlay hidden">
    <div class="overlay-content">
        <button class='simpleCart_dialog_close close'>Close</button>
        <button class="simpleCart_empty">Empty cart</button>
        <div class="simpleCart_items" >
        </div>
        <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
        <button class="simpleCart_checkout">Checkout</button>
    </div>
</div>
