<div id="item-view" class="grid simpleCart_shelfItem">

    <div class="item-fullimage">
      <a href="/{{.Params.image}}"><img src="/{{.Params.image}}"></a>
    </div>

    <div class="item-details">
      <h1 class="item_name">{{.Params.title}}</h1>
      <h2>{{.Params.category}}</h2>
      <p class="author">{{ .Params.author }}</p>
      <p class="item_sku hidden">{{.Params.sku}}</p>
      <p class="item_price price"><span class="circle">{{.Params.price}}</span></p>
      <div class="button">
        {{ if .Params.sold }}
          <p class="sold">SOLD OUT</p>
        {{ else }}
          <a href="{{.Permalink}}" class="simpleCart_item_add item_add"><i class="fa fa-shopping-cart"></i> Add to basket</a>
        {{ end }}
      </div>
      <p class="description">{{ .Params.description }}</p>
    </div>

</div>