<div class="grid">
  {{ range (where .Data.Pages "Type" "item") }}
  <div class="simpleCart_shelfItem">
    <a class="item" href="{{.Permalink }}" data-largesrc="{{.Params.image}}" data-title="{{.Params.title}}" data-description="{{.Params.description }}" data-price="{{.Params.price}}" data-sku="{{.Params.sku}}">

      <div class="item-container">
        <img class="item-image" src="/{{.Params.thumb}}" alt="{{.Params.alt}}"/>
        <div class="item-overlay">
          <div class="item-text">{{.Params.title}}
            <b>{{ if .Params.sold }}
                  SOLD OUT
                {{ else }}
                  {{.Params.price}}
                {{ end }}
            </b>
          </div>
        </div>
      </div>
    </a>

  </div>
  {{ end }}
</div>