<div class="menu" id="menu">
  <div class="logo-and-title">
    <a title="{{ .Title }}" href="{{ .Site.BaseURL }}" class="logo">
        <img src="{{ .Site.Params.logo }}" alt="{{ .Title }}"/>
    </a>
    <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}" class="title">{{ .Site.Title }}</a>
  </div>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
      <a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    <a href="javascript:void(0);" class="icon" onclick="menuHandler()">
      <i class="fa fa-bars"></i>
    </a>
</div>
