<ul id="og-grid" class="og-grid">
       {{ range (where .Data.Pages "Type" "item") }}
       <li class="simpleCart_shelfItem">
               <div class="over">
                       <p class="item_name">{{.Params.item_title}}</p>
                       <p class="item_price"><b>{{.Params.price}}</b></p>
               </div>
               <a class="item" href="{{.Permalink }}" data-largesrc="{{.Params.image}}" data-title="{{.Params.item_title}}" data-description="{{.Params.item_description }}" data-price="{{.Params.price}}" data-sku="{{.Params.sku}}">
                       <img src="/{{.Params.thumb}}" alt="{{.Params.alt}}" width="250px" height="250px"/>
               </a>
       </li>
       {{ end }}
</ul>