# ~/.bashrc: executed by bash(1) for non-login shells.
export TMPDIR=$HOME/tmp/
export GOROOT=$HOME/go
export GOPATH={{ deploy_path }}/lib/gosrc
export PATH=$PATH:$GOROOT/bin:$HOME/hugo/bin
export RAILS_ENV=production
export RACK_ENV=production

export GEM_HOME="/home/{{ deploy_user }}/.gems"
export GEM_PATH="/home/{{ deploy_user }}/.gems:/var/lib/gems/1.9.1"

