<div id='flash' class='flash'>
  <% if flash[:success] %>
    <div class='success'>
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:error] %>
    <div class='error' style="color:red;">
      <%= flash[:error] %>
    </div>
  <% end %>
  <div id='messages' class='info'>
    <% if @message %>
      <%= @message %>
    <% end %>
  </div>
</div>
