<form class="hidden upload-form" method="POST" enctype="multipart/form-data" action='/content_editor/upload'>
  <input multiple type="file" id="upload" name='files[]' value="">
  <input type="text" id="js-upload-path" name="path" value="">
</form>

<div class="editor-form-buttons">
  <a class="js-editor-config pure-button button-primary" href="#" title="Edit config"><i class="fa fa-cogs"></i> Config</a>
  <a class="js-editor-transend pure-button <%=publish_button_class%>" href="#" title="Publish content"><i class="fa fa-diamond"></i> Publish</a>
</div>

<form class="editor-form pure-form pure-form-stacked">
  <div class="search-form-input">
    <input type="text" placeholder="Search..." id="tree_q" value="" class="editor_tree_q input">
  </div>
</form>

<div id="tree" class="tree"></div>

<div id="js-tree-selection" class="tree-selection hidden"></div>

<div class="editor-menu">
  <div class="editor-content-menu">
    <a class="js-editor-cancel pure-button  button-cancel hidden" href="#"><i class="fa fa-undo"></i> Revert</a>
    <a id="js-editor-save" class="js-editor-save pure-button button-success hidden" href="#"><i class="fa fa-floppy-o"></i> Save</a>
  </div>

  <div class="editor-preview-menu">
    <a id="js-editor-refresh-preview" class="js-editor-refresh-preview pure-button button-primary hidden" href="#"><i class="fa fa-refresh"></i> Preview</a>

    <label for="js-auto-preview" class="pure-checkbox">
      <input id="js-auto-preview" type="checkbox" value="" checked>
      Auto preview
    </label>
  </div>
</div>

<div class="editor-editor">
  <textarea id="js-editor-content" class="js-editor-content" rows="20"></textarea>
  <div id="js-editor-preview" class="editor-preview"></div>
</div>

<script>
  Editor.init(<%=editor_init.to_json%>);
</script>
