<div class="container">
  <div>
  	<form action="/auth/in" method="post" class="auth-form pure-form pure-form-stacked">
      <fieldset>
        <div class="pure-control-group">
          <label for="guru[username]">Name</label>
          <input name="guru[username]" type="text" placeholder="Username">
        </div>
        <div class="pure-control-group">
          <label for="gurup[password]">Pass</label>
          <input name="guru[password]" type="password" placeholder="Password">
        </div>
          <button type="submit" class="pure-button button-secondary"><i class="fa fa-sign-in"></i> Tune in</button>
      </fieldset>
  	</form>
  </div>
</div>

