/* A very simple flexbox Grid
	 This is the default Ruby On Go shop/items view. A flexible list of boxes for every Item.
*/

.grid {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	  flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid > div {
  margin: 2px;
  padding: 0;
}

/*
	A single item detail view
*/

.item-fullimage,
.item-details {
	width: 49%;
}

.item-fullimage {
  display: inline;
  text-align: center;
  padding: 0 20px 0;
}

.item-details h1 {
	font-weight: 300;
	font-size: 62px;
	padding: 0;
	border-bottom: 1px solid grey;
}

.item-details h2 {
	font-weight: normal;
	font-size: 18px;
	padding: 0 4px 0;
	margin-bottom: 0;
	color: grey;
}

div.singlepage .item-details h1 {
	font-weight: 300;
	font-size: 62px;
	margin: 0;
}

.item-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

div.singlepage .item-details .button {
	border-radius: 6px;
	padding: 10%;
	width: 100%;
	background-color: #E2E2E2;
	text-align: center;
}

div.singlepage .item-details .button a {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;

	background: #7db9e8;
	background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 2%, #2989d8 41%, #1e5799 100%);
	background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 2%,#2989d8 41%,#1e5799 100%);
	background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 2%,#2989d8 41%,#1e5799 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 );
}

div.singlepage .item-details p.price {
	font-weight: bold;
	font-size: 2em;
	padding-top: 0;
	margin-bottom: 0;
}

div.singlepage .item-details p.description {
	padding-top: 2em;
	margin-bottom: 0;
}

div.singlepage .item-details p.variants {
	padding-top: 0.5em;
	font-size: 1.0em;
}

div.singlepage .item-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

div.singlepage .item-details a:hover {
	border-color: #999;
	color: #999;
}

.media screen and (max-width: 830px) {

	div.singlepage {
		padding: 0.5em;
	}

	div.singlepage .item-details .button {
		width: 100%;
		background-color: transparent;
		padding: 0;
		text-align: center;
	}
}

@media screen and (max-width: 650px) {

	.item-fullimage { width: 100%; }

	.item-details { float: none; width: 100%; }

	div.singlepage {
		padding: 0.5em;
	}

	div.singlepage .item-details .button {
		width: 100%;
		background-color: transparent;
		padding: 0;
		text-align: center;
	}

	div.singlepage .item-details p.price {
		text-align: center;
	}
}

.item-details-back {
	float: right;
	color: #E2E2E2;
	padding-right: 5px;
}

.numberCircle {
    border-radius: 50%;
    width: 140px;
    font-size: 42px;
    border: 2px solid white;
    background-color: red;
}
.numberCircle span {
    text-align: center;
    line-height: 140px;
    display: block;
}

/* Container needed to position the overlay. Adjust the width as needed */
.item-container {
  position: relative;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
}

/* Make the item list image responsive */
.item-image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.item-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.item-container:hover .item-overlay {
  opacity: 0;
}
