/* General Style */

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

a {
	color: #555;
	text-decoration: none;
}

i.fa {
  cursor: pointer;
}

.container {
	width: 100%;
	position: relative;
  margin: 0 auto 0;
}

@media(min-width:768px){
  .container {
    width: 768px;
  }
}
@media(min-width:992px){
  .container {
    width: 900px;
  }
}
@media(min-width:1200px){
  .container {
    width: 1200px;
  }
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #0dd;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
  color: gray;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }


ol.page-links {
  text-align: center;
}

ol.page-links li {
  display: inline-block;
  padding-right: 0.1em;
}

ol.page-links li a {
  text-decoration: underline;
}

ol.page-links li a:hover {
  background-color: black;
  color: white;
}

div.singlepage {
  text-align: left;
  padding: 2em;
}

div.singlepage h1, div.singlepage h2, div.singlepage h3, div.singlepage h4, div.singlepage h5, div.singlepage h6 {
    margin-bottom: 0;
    text-transform: none; }

div.singlepage h1 {
  font-size: 26px; }

div.singlepage h2 {
  font-size: 24px; }

div.singlepage h3 {
  font-size: 20px;
  margin-bottom: 20px; }

div.singlepage h4 {
  font-size: 18px;
  margin-bottom: 18px; }

div.singlepage h5 {
  font-size: 16px;
  margin-bottom: 15px; }

div.singlepage h6 {
  font-size: 14px;
  margin-bottom: 12px; }

div.singlepage p {
  line-height: 1.8;
  margin: 0 0 30px; }

div.singlepage a {
  color: #01a6e3;
  text-decoration: none; }

div.singlepageul, div.singlepage ol {
  list-style-position: inside;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 0; }
div.singlepage ul ul, div.singlepage ul ol, div.singlepage ol ul, div.singlepage ol ol {
    margin: 10px 0 0 20px; }
div.singlepage ul li, div.singlepage ol li {
    margin: 0 0 2px; }
div.singlepage ul li:last-of-type, div.singlepage ol li:last-of-type {
      margin-bottom: 0; }

div.singlepage blockquote {
  border-left: 1px dotted #303030;
  margin: 40px 0;
  padding: 5px 30px; }
div.singlepage blockquote p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

/* ============================================================ */
/* SimpleCart */
/* ============================================================ */
.simpleCart_toggle {
  text-align: center; }

.simpleCart_dialog {
  text-align: center;
  padding: 4em 0 0; }

.simpleCart_items {
  margin-top: 2em;
  margin-bottom: 2em;
}
.simpleCart_items  table {
  min-width: 50%;
}

.simpleCart_items .headerRow th {
  text-align: center; }

.simpleCart_items .itemRow .item-decrement {
  font-weight: bold;
  background: lightGray;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.simpleCart_items .itemRow .item-increment {
  font-weight: bold;
  background: lightGray;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.simpleCart_totalquantity {
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}

.simpleCart_item_add {
  text-align: right;
}

button {
  font-size: 1.2em;
  padding: 0.2em;
  border: 2px solid white;
  border-radius: 6px;
}
/* ============================================================ */
/* Overlay */
/* ============================================================ */
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95); }
  .overlay .overlay-content {
    height: 100%;
    overflow: scroll; }